{# templates/product/create.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Crear Producto{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4">Crear Producto</h1>
    {{ form_start(form, {'attr': {'enctype':'multipart/form-data', 'class':'needs-validation', 'novalidate':true}}) }}
    
    <!-- Tus campos existentes -->

    <div class="form-group">
        {{ form_label(form.title, 'Título del Producto', {'label_attr': {'class': 'font-weight-bold'}}) }}
        {{ form_widget(form.title, {'attr': {'class':'form-control'}}) }}
        {{ form_errors(form.title) }}
    </div>

    <div class="form-group">
        {{ form_label(form.body, 'Descripción del Producto', {'label_attr': {'class': 'font-weight-bold'}}) }}
        {{ form_widget(form.body, {'attr': {'class':'form-control'}}) }}
        {{ form_errors(form.body) }}
    </div>

    <div class="form-group">
        {{ form_label(form.imageFile, 'Imagen del Producto', {'label_attr': {'class': 'font-weight-bold'}}) }}
        {{ form_widget(form.imageFile, {'attr': {'class':'form-control-file'}}) }}
        {{ form_errors(form.imageFile) }}
    </div>

    <!-- Nuevos campos de precio y unidades -->

    <div class="form-group">
        {{ form_label(form.price, 'Precio', {'label_attr': {'class': 'font-weight-bold'}}) }}
        {{ form_widget(form.price, {'attr': {'class':'form-control'}}) }}
        {{ form_errors(form.price) }}
    </div>

    <div class="form-group">
        {{ form_label(form.units, 'Unidades', {'label_attr': {'class': 'font-weight-bold'}}) }}
        {{ form_widget(form.units, {'attr': {'class':'form-control'}}) }}
        {{ form_errors(form.units) }}
    </div>

    <!-- Botón de guardar después de los nuevos campos -->

    <div class="text-center mb-3">
        <button type="submit" class="btn btn-primary">Guardar Producto</button>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}
