{# templates/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
    <title>{% block title %}Bienvenido{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.7.3/css/foundation.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background-color: #DDEEFF;
        }
    </style>
</head>
<body>
    <!-- Navbar de Foundation -->
    <nav class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                 <li><a class="menu-text ml-2 mr-4" href="{{ path('welcome') }}">Mi Sitio</a></li>
                <li><a href="{{ path('welcome') }}">Inicio</a></li>
                <li><a href="{{ path('product_index') }}">Lista de Productos</a></li>
                <li><a href="{{ path('product_create') }}">Crear Producto</a></li>
                <!-- Más elementos del menú aquí -->
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <!-- Foundation JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.7.3/js/foundation.min.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>
